
*{ max-width: 1500px; }
body{
    margin: auto;
    width: 100%;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.modal {
    transform: translateY(-400%);
    position: fixed;
    width: 500px;
    height: 280px;
    z-index: 200;
    top: calc((100% - 280px)/2);
    left: calc((100% - 500px)/2);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #555;
    background-color: #eee;

}


/* use these class names to show or hide the overlay and modal window */
.show{
    display: block;
}
.hide {
    display: none;
}
.off{

    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: exitscreen;
    animation-fill-mode: forwards;
}
.on{
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: enterscreen;
    animation-fill-mode: forwards;
}

@keyframes enterscreen{
    0%{
        transform: translateY(-400%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes exitscreen{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(400%);
    }
}
.cancelButton,
.saveButton{
    width: 120px;
    position: absolute;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 0.25rem 2rem;
    font-size: 1rem;
}

.saveButton{
    bottom: 1rem;
    right: 4rem;
}

.cancelButton{
    bottom: 1rem;
    left: 4rem;
}

.modal-header {
    padding: 2px 16px;
    background-color:blue;
    color: white;
    text-align: center;
}

.modal-radio{
    text-align: center;
    margin-top: 4rem;
}

*{
    max-width: 1500px;
}
main{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-start;
    height: 500px;
    width: 80%;
    margin: 100px auto auto auto;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15%;

}
.recommendations{
    margin-bottom: 40px;
}
#back-button{
}
#search-input{
    width: 35%;
    height: 29px;
    text-align: center;
    transition: width 0.4s ease-in-out;

}
#search-input:hover{
    width:65%  ;
}
#search-button{
    position: relative;
    right: 37px;
    top: 3px;
    cursor: pointer;

}

#modalButton{
    position: relative;
    right: 32px;

}
.attribution{
    position: relative;
    float: left;
}
.attribution img{
    position: fixed;
    width: 8%;

}
ul{
    list-style: none;
}




.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.movieCard:hover, .tvCard:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px hsla(100, 0%, 0%, 0.3);
}

.movieCard, .tvCard {
    position: relative;
    top: -190px;
    width: 50rem;
    height: auto;
    margin: 1rem auto;
    background-color: cornflowerblue;
    color: white;
    transition: transform 0.4s ease-in;
    text-align: center;
    box-shadow: 5px 5px hsla(100, 0%, 0%, 0.3);

}

.imageSection {
    float: left;
    width: 12rem;
    height: 17rem;
    margin-right: 1rem
    overflow: hidden;
}

/*select only the images that are direct descendants of .imageSection*/
.imageSection > img {
    height: 17rem;
    margin-right: 1rem;
}

.modal-radio{
    transition: transform 0.1s ease-in;
}
.modal-radio:hover{
    transform: scale(1.4);
    box-shadow: 0px 8px hsla(100, 0%, 0%, 0.3);
}









